.cask
straight
auto-save
elpa
elpa.old
auto-save-list
eshell
network-security.data
smex-items
backups
projectile-bookmarks.eld
snippets
bookmarks
projectile.cache
el-get
recentf
url
elpy
transient
.python-environments
var

# projects tracked elsewhere
symex
epistemic-mode

# vim noise
*~
*.sw?

