.cask
straight/*
!straight/versions
auto-save
elpa
elpa.old
auto-save-list
eshell
network-security.data
smex-items
backups
projectile-bookmarks.eld
snippets
bookmarks
projectile.cache
el-get
recentf
url
elpy
transient
.python-environments
var
racket-mode
company-statistics-cache.el
tree-sitter
history
eln-cache
multisession
parinfer-rust

# projects tracked elsewhere
my-repos

# generated XELPA
xelpa/recipes/

# vim noise
*~
*.sw?
