.cask
auto-save
elpa
auto-save-list
eshell
network-security.data
smex-items
backups
projectile-bookmarks.eld
snippets
bookmarks
projectile.cache
el-get
recentf
url

# projects tracked elsewhere
symex-mode
epistemic-mode

# vim noise
*~
*.sw?

